#!/usr/bin/env python
# -*- coding: utf-8 -*-

from i3pystatus import (
    I3statusHandler,
    mailchecker,
    modsde,
    notmuchmailchecker,
    thunderbird,
)

status = I3statusHandler()

# The imap checker module
mailsettings = {
    'color': '#ff0000',
    'servers': [
        {
            'host': 'www.testhost1.com',
            'port': '993',
            'ssl' : True,
            'username': 'your_username',
            'password': 'your_password',
            'pause': 20
        },
        {
            'host': 'www.testhost2.net',
            'port': '993',
            'ssl' : True,
            'username': 'your_username',
            'password': 'your_password',
            'pause': 20
        }
    ]
}
mailchecker = mailchecker.MailChecker(mailsettings)
status.register_module(mailchecker)

# the mods.de forum new bookmarks module
mdesettings = {
    'username': "your_username",
    'password': "your_password"
}
mde = modsde.ModsDeChecker(mdesettings)
status.register_module(mde)

# the notmuch mail checker module
db_path = 'path_to_your_notmuch_database'
notmuch = notmuchmailchecker.NotmuchMailChecker(db_path)
status.register_module(notmuch)

# the thunderbird dbus new mail checker module
tb = thunderbirdnewmail.ThunderbirdMailChecker()
status.register_module(tb)

# start the handler
status.run()
